  <div class="row">
    <div class="col text-center mb-3">
      <h3>2021 TOUR DATES</h3>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">City</th>
          <th scope="col">Venue</th>
        </tr>
      </thead>
      {% for tour in queen.tour2021 %}
      <tbody>
        <tr>
          <th scope="row">{{ tour.date }}</th>
          <td>{{ tour.city }}</td>
          <td>{{ tour.venue }}</td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>
  