{% extends '_templates/base.njk' %}

{% block page_title %}Home{% endblock %}

{% block page_description %}Description.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    {% for member in queen.members %}
    <div class="col-sm-6 col-lg-4">
      <div class="card bg-light mb-4">
        <div class="card-body text-dark">
          <h5 class="card-title">{{ member.name }}</h5>
          <h6>{{ member.instruments }}</h6>
          <p class="card-text">{{ member.tenure }}</p>
          <p class="card-text">{{ member.birthplace }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}