{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}

{% block page_title %}{{ name }}{% endblock %}

{% block page_description %}Biography of {{ name }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="../img/img-queen/members/{{ image }}" alt="{{ name }}" class="img-fluid mb-2">
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-8">
        <h1 class="mb-3">{{ name }}</h1> 
        <p>{{ instruments }} | {{ tenure }}</p>
        <p>Date of Birth: {{ birthdate }} | Birthplace: {{ birthplace }}</p>
        <p>{{ description | safe }}</p>
      </div>
    </div>
  </article>
{% endblock %}