.jumbotron.banner {
  background: url(../img/img-queen/queen-live-on-stage.jpg) no-repeat center;
  background-size: cover;
  color: white;
  padding-top: 10rem;
}

.jumbotron {
  margin-bottom: 30px;
}

.jumbotron-title {
  font-size: 2.75rem;
  font-family: 'Playfair Display', serif;
}